{{!--delete screen successfully --}}

<div class="delete-success">
    <div class="deletescreen">
        <div class="delete-logo center">
            <i class="fas fa-check-circle"></i>
        </div>
        <div class="delete-text">
            <h1>Data Deleted Successfully</h1>
        </div>
        <div class="center">
            <button class="button-delete">View Desease</button>
        </div>
    </div>
</div>