 <div class="row deseaselist">
    <div class="col s12 m10" >
        <div class="row deseasename" >
            <div class="col s6 m3">
                Malaria
            </div>
            <div class="col s6 m6 dateLabel">
                10/07/2018
            </div>
        </div>
    </div>
    <div class="col s12 m2" style="display:flex;justify-content:space-between;margin:0.5rem 0rem;" >
        <button>Demo</button>
        <i class="material-icons" style="color:blue;font-size:2rem;">delete</i>
    </div>
</div>

css


@media (max-width:600px){
    .dateLabel{
        text-align:end;
    }
}

.deseaselist{
    width:90%;border-top:1px solid black;
    border-bottom:1px solid black;
    margin:0.5rem 0rem;
}
.deseasename{
    margin:0.5rem 0rem;
}                            