<div class="login-page">
<form class="col s12">
        <div class="row center col s12 bigger">
            <img src="/static/images/person.svg">
                  </div>
        <div class="row col s12 center admin">
            <h6>Log in to DocterAI admin</h6>
        </div>
     <div class="row center">
        <div class="input-field col s12">
          <input placeholder="email" id="email" type="email text" class="validate inp-icon1">
        </div>
        <div class="input-field col s12">
            <input placeholder="password" id="password" type="password text" class="validate inp-icon">
        </div>
      </div>
      <div class="row center">
      <button class="loginbutton" type="submit">Login</button>
      </div>
      <div class="row center">
          <p class="signup">Create new Account !<a href="#" style="padding: 5px;">Signup</a></p>
          </div>
  </form>
  </div>
  
      