{{!--add successfully --}}
<div class="popped" id="simple-modal">
    <div class="poped-content">
        <div class="success">
            <div class="success-screen" id="show">
                {{!-- <span class="close">&times;</span> --}}
                <div class="sucess-logo center">
                    <i class="fas fa-check-circle"></i>
                </div>
                <div class="sucess-text">
                    <h1>Data Added Successfully</h1>
                </div>
                <div class="center">
                    <button class="button-added" id="openpompt">View Desease</button>
                </div>
            </div>
        </div>
    </div>
</div>