{{!--update successfully --}}

<div class="update-success">
    <div class="updatescreen">
        <div class="update-logo center">
            <i class="fas fa-check-circle"></i>
        </div>
        <div class="update-text">
            <h1>Data Updated Successfully</h1>
        </div>
        <div class="center">
            <button class="button-update">View Desease</button>
        </div>
    </div>
</div>