{{!-- <section class="user-section">
    <div class="containe">
        <div class="row ">
            <div class="info">
                <div class="col s12 m12 l12">
                    <div class="form-box">
                        <div>
                            <h6 style="font-size:1.5rem;font-weight:500">Desease List</h6>
                            <hr>
                        </div>
                        <div>
                            <button class="btn-add btn-small waves-effect waves-light"> Add users</button>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!--new row-->
            
                <div class="block-section">
                    <div class="row" style="border-top: 1px solid black;">
                        <div class="col s12 m12">
                            <div class="row-content">
                                <div>
                                    <p>Fever</p>
                                </div>
                                <div>
                                 <p>19/06/2019</p>
                                </div>
                                <div>
                                       
                                </div>
                                <div>
                                     <button class="btn btn-blue btn-small waves-effect waves-light">
                                          Edit</button>
                                             <div  style="margin-left: 20px;">
                                            <a href="#"><img  src="/static/images/icons8-remove-64.png"></a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--first-->
                    <div class="block-section">
                        <div class="row">
                            <div class="col s12 m12">
                                <div class="row-content">
                                    <div>
                                        <p>Malaria</p>
                                    </div>
                                    <div>
                                       <p>19/06/2019</p>
                                    </div>
                                    <div>
                                      
                                    </div>
                                    <div>
                                        <button class="btn btn-blue btn-small waves-effect waves-light">
                                            Edit</button>
                                            <div  style="margin-left: 20px;">
                                            <a href="#"><img  src="/static/images/icons8-remove-64.png"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--second-->
                 <div class="block-section">
                        <div class="row">
                            <div class="col s12 m12">
                                <div class="row-content">
                                    <div>
                                        <p>Malaria</p>
                                    </div>
                                    <div>
                                       <p>19/06/2019</p>
                                    </div>
                                    <div>
                                      
                                    </div>
                                    <div>
                                        <button class="btn btn-blue btn-small waves-effect waves-light">
                                            Edit</button>
                                            <div  style="margin-left: 20px;">
                                            <a href="#"><img  src="/static/images/icons8-remove-64.png"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--third-->
                         <div class="block-section">
                        <div class="row">
                            <div class="col s12 m12">
                                <div class="row-content">
                                    <div>
                                        <p>Malaria</p>
                                    </div>
                                    <div>
                                       <p>19/06/2019</p>
                                    </div>
                                    <div>
                                      
                                    </div>
                                    <div>
                                        <button class="btn btn-blue btn-small waves-effect waves-light">
                                            Edit</button>
                                            <div  style="margin-left: 20px;">
                                            <a href="#"><img  src="/static/images/icons8-remove-64.png"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--fourth-->
                    
                 <div class="block-section">
                        <div class="row">
                            <div class="col s12 m12">
                                <div class="row-content">
                                    <div>
                                        <p>Malaria</p>
                                    </div>
                                    <div>
                                       <p>19/06/2019</p>
                                    </div>
                                    <div>
                                      
                                    </div>
                                    <div>
                                        <button class="btn btn-blue btn-small waves-effect waves-light">
                                            Edit</button>
                                            <div  style="margin-left: 20px;">
                                            <a href="#"><img  src="/static/images/icons8-remove-64.png"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--five-->
                    
                 <div class="block-section">
                        <div class="row">
                            <div class="col s12 m12">
                                <div class="row-content">
                                    <div>
                                        <p>Malaria</p>
                                    </div>
                                    <div>
                                       <p>19/06/2019</p>
                                    </div>
                                    <div>
                                      
                                    </div>
                                    <div>
                                        <button class="btn btn-blue btn-small waves-effect waves-light">
                                            Edit</button>
                                            <div  style="margin-left: 20px;">
                                            <a href="#"><img  src="/static/images/icons8-remove-64.png"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

             <!--last-->       
                 <div class="block-section">
                        <div class="row">
                            <div class="col s12 m12">
                                <div class="row-content">
                                    <div>
                                        <p>Malaria</p>
                                    </div>
                                    <div>
                                       <p>19/06/2019</p>
                                    </div>
                                    <div>
                                      
                                    </div>
                                    <div>
                                        <button class="btn btn-blue">
                                            Edit</button>
                                            <div  style="margin-left: 20px;">
                                            <a href="#"><img  src="/static/images/icons8-remove-64.png"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                            
</section>

<div class="Pagination-section">
    <div class="pagination">
        <a1 href="#"><i class="material-icons">chevron_left</i></a1>
       
        <a2 style="border: none;">1 OF 10</a2>
            
        <a1 href="#"><i class="material-icons">chevron_right</i></a1>
    </div>
</div>
    --}}
        <div class="row desease-title">
            <div class="col s12 m6 deseasecontain">
                        Desease List
             <div class="borderline"></div>
            </div>
             <div class="col s12 m6 searchbtn">
                        <button>search</button>
             </div>
        </div>

{{!-- first-row --}}

    <div class="row deseaselistfirst">
    <div class="col s12 m10" >
        <div class="row deseasename">
            <div class="col s6 m3 deseasecontant">
                Malaria
            </div>
            <div class="col s6 m6 dateLabel">
                10/07/2018
            </div>
        </div>
    </div>
    <div class="col s12 m2 listbutton">
        <button class="editbtn">Edit</button>
        <a href="#"><i class="material-icons iconstyle">delete</i></a>
    </div>
    </div>


     <div class="row deseaselist">
    <div class="col s12 m10" >
        <div class="row deseasename">
            <div class="col s6 m3 deseasecontant">
                Malaria
            </div>
            <div class="col s6 m6 dateLabel">
                10/07/2018
            </div>
        </div>
    </div>
    <div class="col s12 m2 listbutton">
        <button class="editbtn">Edit</button>
        <a href="#"><i class="material-icons iconstyle">delete</i></a>
    </div>
    </div>


     <div class="row deseaselist">
    <div class="col s12 m10" >
        <div class="row deseasename">
            <div class="col s6 m3 deseasecontant">
                Malaria
            </div>
            <div class="col s6 m6 dateLabel">
                10/07/2018
            </div>
        </div>
    </div>
    <div class="col s12 m2 listbutton">
        <button class="editbtn">Edit</button>
        <a href="#"><i class="material-icons iconstyle">delete</i></a>
    </div>
    </div>


     <div class="row deseaselist">
    <div class="col s12 m10" >
        <div class="row deseasename">
            <div class="col s6 m3 deseasecontant">
                Malaria
            </div>
            <div class="col s6 m6 dateLabel">
                10/07/2018
            </div>
        </div>
    </div>
    <div class="col s12 m2 listbutton">
        <button class="editbtn">Edit</button>
        <a href="#"><i class="material-icons iconstyle">delete</i></a>
    </div>
    </div>


     <div class="row deseaselist">
    <div class="col s12 m10" >
        <div class="row deseasename">
            <div class="col s6 m3 deseasecontant">
                Malaria
            </div>
            <div class="col s6 m6 dateLabel">
                10/07/2018
            </div>
        </div>
    </div>
    <div class="col s12 m2 listbutton">
        <button class="editbtn">Edit</button>
        <a href="#"><i class="material-icons iconstyle">delete</i></a>
    </div>
    </div>


<div class="Pagination-section">
    <div class="pagination">
        <a1 href="#"><i class="material-icons">chevron_left</i></a1>
       
        <a2 style="border: none;">1 OF 10</a2>
            
        <a1 href="#"><i class="material-icons">chevron_right</i></a1>
    </div>
</div>
        